
    <div class="row">
        <% if current_user.rol =="admon"%>
            <%= render 'menus/admon' %>
        <% elsif  current_user.rol =="profesor"%>
            <%= render 'menus/profesor' %>
        <% elsif  current_user.rol =="secretaria"%>
            <%= render 'menus/secretaria' %>
        <% end %>
    </div>

