<% provide(:title, @user.nombre) %>
<div class="row">
    <aside class="span4">
        <section>
            <h1>
                <%= @user.nombre %>
            </h1>
        </section>

    </aside>

</div>