<footer class="footer">
    <small>
        por Herber Vasquez
    </small>
    <small>
        Proyecto Practicas Intermedias 2014 - 1er Semestre
    </small>
    <nav>
        <ul>
            <li><a href="https://github.com/lupstor/cursos-sae-sap">Github</a></li>
        </ul>
    </nav>
</footer>