<footer class="footer" >

    <table style="width: 1000px;">
        <tr>
            <td> por Herber Vasquez</td>
            <td style="text-align: left;">   Proyecto Practicas Intermedias 2014 - 1er Semestre</td>
            <td style="text-align: right;"><a href="https://github.com/lupstor/cursos-sae-sap">Github</a></td>
        </tr>
    </table>

</footer>